<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Ample lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Ample admin lite dashboard bootstrap 5 dashboard template">
    <meta name="description"
        content="Ample Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>Ample Admin Lite Template by WrapPixel</title>
    <link rel="canonical" href="https://www.wrappixepro.com/templates/ample-admin-lite/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="plugins/images/favicon.png">
    <!-- Custom CSS -->
   <link href="/css/admin.css" rel="stylesheet">
   <link rel="stylesheet" href="/font/fontawesome/fontawesome-free-6.1.1-web/css/all.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<style>
    #frm_addPro .form-group{
        width: 33%;
        float: left;

    }
    #frm_addPro .form-control{
        width: 90%;
        border: 1px solid #a3a6a9;
        /* float: left; */
    }
</style>
</head>

<body>
   <%- include('header')-%>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Product</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <!-- <ol class="breadcrumb ms-auto">
                                <li><a href="#" class="fw-normal">Dashboard</a></li>
                            </ol> -->
                            <!-- <a href="https://www.wrappixepro.com/templates/ampleadmin/" target="_blank"
                                class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white">Upgrade
                                to Pro</a> -->
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Edit Product</h3>
                            <!-- <p class="text-muted">Add class <code>.table</code></p> -->
                            <div class="table-responsive">
                                <form action="/product/edit/update" method="POST" name="frm_addPro" id="frm_addPro" style="width:100% ;" enctype="multipart/form-data">
                                    <input type="text" name="id_pro" hidden id="id_proedit">
                                    <div class="form-group" style="width: 96%;">
                                        <label for="">Name categories</label>
                                        <select name="cate_id" id="cateEdit_id">
                                            <!-- <option value=""></option> -->
                                           </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Name </label>
                                        <input type="text" name="name_pro" class="form-control" id="name_proedit">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Time </label>
                                        <input type="number" name="time" class="form-control" id="timeedit">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Age </label>
                                        <input type="number" name="age" class="form-control " id="ageedit">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Director</label>
                                        <input type="text" name="director" class="form-control" id="directoredit">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Actor</label>
                                        <input type="text" name="actor" class="form-control" id="actoredit">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Date</label>
                                        <input type="date" name="date" class="form-control" id="dateedit">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Special</label>
                                        <div class="form-control" id="spe">
                                        <!-- <input type="radio" name="special" id="specialedit" value="1" > Special
                                        <input type="radio" name="special"  id="specialedit" value="0"> Unspecial -->
                                    </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Country</label>
                                        <input type="text" name="country" class="form-control" id="countryedit">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Views</label>
                                        <input type="number" name="views" class="form-control" id="viewsedit" value="0">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Image avatar</label>
                                        <input type="file" name="image" class="form-control" id="imageedit">
                                    </div>
                                    <!-- <div class="form-group">
                                        <label for="">Image detail</label>
                                        <input type="file" name="	image_des" class="form-control" id="image_des">
                                    </div> -->
                                    <div class="form-group">
                                        <label for="">Link video</label>
                                        <input type="text" name="video" class="form-control" id="videoedit">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Categories</label>
                                        <input type="text" name="categories" class="form-control" id="categoriesedit">
                                    </div>
                                    <div class="form-group" style="width: 100%;">
                                        <label for="">Description</label>
                                        <textarea  name="description" class="form-control" id="descriptionedit" rows="6"  style="width: 96%;"></textarea>
                                        <!-- <input type="text"> -->
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-dark" type="submit">ADD</button>
                                   
                                    </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center"> 2021 © Ample Admin brought to you by <a
                    href="https://www.wrappixepro.com/">wrappixepro.com</a>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="js/custom.js"></script>
</body>
<script type="module" src="/js/admin.js"></script>

</html>