<footer class="footer elementor-color">
    <div class="footer-top theme-container">
        <div class="box-content-foot">
            <div class="title-outer">
                <h3>Contact Us</h3>

            </div>
            <div class="contact_wrapper">
                <div class="address">1340 Le Duc Tho, Phuong 13, Quan Go Vap, TP.HCM </div>
                <div class="phone">(+08) 369540497</div>
                <div class="email">trieutbps24977@fpt.edu.vn</div>


            </div>
        </div>
        <div class="box-content-foot">
            <div class="title-outer">
                <h3>Our Server</h3>

            </div>
            <div class="static-links-list">
                <span>
                    <a href="">
                        Your Account</a>
                </span>
                <span><a href="">
                        Return Center</a></span>
                <span><a href="">
                        Purchase</a></span>
                <span><a href="">
                        App Download</a></span>
                <span><a href="">
                        Latest News</a></span>
            </div>
        </div>
        <div class="box-content-foot">
            <div class="title-outer">
                <h3>Information</h3>

            </div>
            <div class="static-links-list">
                <span>
                    <a href="">About Us</a>
                </span>
                <span><a href="">
                        Contact Us</a></span>
                <span><a href="">
                        Terms & Conditions</a></span>
                <span><a href="">
                        Returns & Exchanges</a></span>
                <span><a href="">
                        Shipping & Delivery</a></span>
            </div>
        </div>
        <div class="box-content-foot">
            <div class="title-outer">
                <h3>My Account</h3>

            </div>
            <div class="static-links-list">
                <span>
                    <a href="">
                        Order History</a>
                </span>
                <span><a href="">
                        Wishlist</a></span>
                <span><a href="">
                        Contact Us</a></span>
                <span><a href="">
                        About Us</a></span>
                <span><a href="">
                        Our Work</a></span>
            </div>
        </div>
    </div>
    <div class="footer-bot">
        <div class="container-foot-bot">
            <div class="footer-left ">
                Copyright © 2023 Webdigify.
            </div>
            <div class="footer-right">
                <ul>
                    <li><i class="fa-brands fa-cc-paypal"></i></li>
                    <li><i class="fa-brands fa-cc-mastercard"></i></li>
                    <li><i class="fa-brands fa-cc-visa"></i></li>
                    <li><i class="fa-brands fa-cc-amex"></i></li>
                </ul>
            </div>
        </div>

    </div>
</footer>